.chart{
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    .title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .chartgrid{
        stroke: lightgray;
    }
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-dropdown{
    width: 200px;
    .MuiInputBase-root{
        background-color: #f9fafb;
        border-radius: 5px;
        border-color: 1px solid #e5e7eb;
    }
}
